section.loan_feature .row {
    gap: 24px 0;
}

section.loan_feature .header {
    max-width: 650px;
    margin-bottom: calc(60px - 24px);
}


section.loan_feature .content_bg {
    background: url('../../assets/images/bank_motorcycle_loan_philippines/contact_us_bg.jpg')no-repeat center center/cover;
    margin-top: 100px;
    padding: 150px 100px;
}

section.loan_feature {
    background-color: #F2F2F2;
}

section.loan_feature .main_content {
    max-width: 650px;
}

section.loan_feature a {
    margin-top: 30px;
}

section.required_documents li {
    color: var(--Black, #4A4A4A);
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 20px;
}

section.required_documents li:last-child,
section.required_documents ol {
    margin-bottom: 0;
}

section.required_documents li:not(:first-child) {
    margin-top: 30px;
}

section.required_documents {
    background-color: #F2F2F2;
}

section.application_proccess .content {
    border-radius: 4px;
    background: #EEF3FF;
    box-shadow: 0px 12px 18.3px 0px rgba(0, 0, 0, 0.05);
}

section.application_proccess span.count {
    border-radius: 3px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: var(--Blue, #1B4298);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

section.application_proccess .header {
    max-width: 650px;
    margin-bottom: calc(60px - 24px);
}

section.application_proccess .row {
    gap: 24px 0;
}

section.affordable_housing_loan .content {
    max-width: 776px;
    padding: 50px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.95);
}

section.affordable_housing_loan {
    background: url('../../assets/images/affordable_housing_loan/Affordable\ Housing\ Loan\ is\ Your\ First\ Step\ to\ Homeownership.jpg') no-repeat center center/cover;
}

section.choose_bank_of_makati {
    background-color: #F2F2F2;
}

section.choose_bank_of_makati .header {
    max-width: 1202px;
    margin: 0 auto calc(60px - 24px) auto;
}

section.choose_bank_of_makati .content {
    padding: 30px;
    border-radius: 4px;
    background: #FFF;
    height: 100%;
}

section.choose_bank_of_makati .icons {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
    margin-bottom: 20px;
    width: fit-content;
}

section.faqs_about_out_savings .accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 30px;
}

section.faqs_about_out_savings .accordion-item {
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
    box-shadow: 0px 12px 18.3px 0px rgba(0, 0, 0, 0.05);
}

section.faqs_about_out_savings .row {
    gap: 24px 0;
}

section.faqs_about_out_savings .accordion-item {
    border-radius: 4px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
    box-shadow: 0px 12px 18.3px 0px rgba(0, 0, 0, 0.05);
}

section.faqs_about_out_savings .accordion-body{
    padding: 0 30px 30px 30px;
}

section.faqs_about_out_savings h2 {
    max-width: 889px;
    margin-bottom: calc(60px - 24px);
}

section.faqs_about_out_savings .accordion-item:not(.open) {
    height: auto;
}

@media (max-width: 767px) {
    section.affordable_housing_loan .content {
        padding: 30px;
    }
}