section.banner {
    max-height: 500px;
}

section.banner .content {
    max-width: 922px !important;
}

section.career .accordion-item.open {
    height: auto;
}

section.career .content {
    max-width: 700px;
}

section.career .header {
    max-width: 550px;
}

section.career .form {
    padding: 50px;
    border-radius: 5px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
}

section.career .form form {
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

section.career .form form span.wpcf7-spinner {
    display: none;
}

section.career .form form.submitting span.wpcf7-spinner {
    display: block;
}

section.career .form input,
section.career .form textarea {
    padding: 10px 15px;
    border-radius: 1px;
    border: 1px solid #C1C1C1;
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
}

section.career .form input::placeholder,
section.career .form textarea::placeholder {
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

section.career .form h2 {
    margin-bottom: 30px;
}

section.career .form span:not(.wpcf7-form-control-wrap) {
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: block;
}

section.career .form span.wpcf7-not-valid-tip {
    margin-top: 10px;
    color: red;
}

section.career .form span.wpcf7-form-control-wrap[data-name="email"],
section.career .form span.wpcf7-form-control-wrap[data-name="contact-nummber"] {
    width: calc(50% - 10px);
}

section.career .accordion-button {
    padding: 0;
    background-color: transparent;
    border: 0 !important;
    box-shadow: none;
}

section.career .left_content .accordion-item {
    padding: 30px;
    border-radius: 4px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
    box-shadow: 0px 12px 18.3px 0px rgba(0, 0, 0, 0.05);
}

section.career .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

section.career .accordion-body {
    padding: 30px 0 0 0;
    border: none;
    box-shadow: none;
}

section.career .d-flex {
    gap: 0 20px;
    margin-bottom: 30px;
}

section.career .d-flex>div {
    display: flex;
    gap: 0 15px;
    border-radius: 4px;
    border: 1px solid var(--Gray, #F2F2F2);
    padding: 5px 15px;
    align-items: center;
}

section.career .d-flex>div span {
    color: #4A4A4A;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

section.career .step {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid var(--Gray, #F2F2F2);
    background: #FFF;
}

section.career .steps {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

section.career .step a {
    color: var(--Orange, #F26531);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


section.career .choice {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
    align-items: stretch;
}

section.career .choice>div:not(.or) {
    padding: 15px;
    border: 1px solid var(--Gray, #F2F2F2);
    width: calc(50% - 35px);
}

section.career .choice>div.or {
    width: fit-content;
    display: flex;
    align-items: center;
}

section.career .choice>div.or span {
    color: var(--Black, #4A4A4A);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 156.25% */
}

section.career .choice a {
    color: var(--Orange, #F26531);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

section.career .wpcf7 form .wpcf7-response-output {
    color: black;
}

section.contact_us{
    background-color: transparent !important;
}

@media (max-width:1200px) {
    section.career .choice {
        flex-direction: column;
        gap: 24px;
    }

    section.career .choice>div:not(.or) {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    section.career .content {
        max-width: 100%;
        margin-bottom: 50px;
    }

    section.career .choice {
        flex-direction: row;
    }

    section.career .choice>div:not(.or) {
        width: calc(50% - 35px) !important;
    }
}

@media (max-width: 767px) {
    section.career .form {
        padding: 50px 30px;
    }

    section.career .choice {
        flex-direction: column;
    }

    section.career .choice>div:not(.or) {
        width: 100% !important;
    }
}