section.banner {
    max-height: 500px;
}

section.banner .content {
    max-width: 922px !important;
}


section.contact_us{
    background-color: transparent !important;
}

@media (max-width:1200px) {
    section.career .choice {
        flex-direction: column;
        gap: 24px;
    }

    section.career .choice>div:not(.or) {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    section.career .content {
        max-width: 100%;
        margin-bottom: 50px;
    }

    section.career .choice {
        flex-direction: row;
    }

    section.career .choice>div:not(.or) {
        width: calc(50% - 35px) !important;
    }
}

@media (max-width: 767px) {
    section.career .form {
        padding: 50px 30px;
    }

    section.career .choice {
        flex-direction: column;
    }

    section.career .choice>div:not(.or) {
        width: 100% !important;
    }
}