@import url('../../inc/css/fonts.css');
@import url('../../inc/css/header.css');
@import url('../../inc/css/footer.css');

:root {
    --Orange: #F26531;
    --Blue: #1B4298;
    --Black: #4A4A4A;
    --Gray: #F2F2F2;
    --White: #FFF;
    --LightOrange: #FFA726;
    --LightGray: #C1C1C1;
    --TextGray: #ADADAD;
}

[popover]:popover-open:not(dialog) {
    border: none;
    width: calc(100% - 40px);
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

[hidden]{
    display: none !important;
}

[popover]:popover-open:not(dialog) .content {
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 12px 18.3px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--Gray);
    background: var(--White);
}

img[popover] {
    height: 90%;
    width: fit-content;
    margin: auto;
    object-fit: contain;
    background-color: transparent;
    border: none;
}

.font_14 {
    font-size: 14px;
}

.wpcf7-form-control-wrap .wpcf7-list-item label>span.wpcf7-list-item-label {
    color: var(--Black, #4A4A4A);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.gap-20 {
    gap: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1576px;
    margin: 0 auto;
}

:focus-visible {
    outline: none;
}

section {
    padding: 100px 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

button.white {
    padding: 12px 24px;
    border-radius: 2px;
    background: var(--White);
    color: var(--Orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

button.white:hover {
    transition: .5s ease all;
    background: var(--LightOrange);
    color: var(--White);
}

input:focus {
    box-shadow: none;
}

input:focus-visible {
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


div#swal2-html-container {
    color: var(--Black, #4A4A4A);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

/* select 2 css */
section form .select2-container .select2-selection--single {
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    border: none;
}

section form .select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: auto;
    right: 15px;
    height: auto;
    width: fit-content;
    display: none;
}

section select,
section .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 10px 15px;
    border-radius: 1px;
    border: 1px solid var(--LightGray);
    width: 100%;
    color: var(--TextGray);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 178.571% */
}

section .wpcf7-form-control-wrap {
    width: 100%;
}

[popover]:-internal-popover-in-top-layer::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

/* header .main_nav ul#menu-main_header>li:hover::after {
    content: '';
    height: 2px;
    background-color: var(--Orange);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
} */

.orange_btn,
section .cf7mls_next.action-button,
button.swal2-confirm.swal2-styled {
    padding: 12px 24px;
    border-radius: 2px;
    background: var(--Orange);
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    display: block;
    border: none;
}

.blue_text {
    color: var(--Blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blue_btn {
    padding: 12px 24px;
    border-radius: 2px;
    background: var(--Blue);
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    display: block;
}

.white_btn {
    padding: 12px 24px;
    border-radius: 2px;
    background: var(--White);
    color: var(--Orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.white_btn:hover {
    transition: .5s ease all;
    color: var(--White);
}

section .wpcf7-list-item {
    margin: 0;
}

.orange_btn:hover,
.blue_btn:hover,
.transparent_btn:hover,
.white_btn:hover,
button.swal2-confirm.swal2-styled:hover {
    transition: .5s ease all;
    background: var(--LightOrange);
}

.transparent_btn:hover {
    transition: .5s ease all;
    color: var(--White);
    border-color: var(--LightOrange);
}

.transparent_btn,
section .cf7mls_back.action-button {
    padding: 12px 24px;
    border-radius: 2px;
    border: 1px solid var(--Orange);
    background-color: transparent;
    color: var(--Orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.group_button {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.box_content {
    padding: 30px;
    border-radius: 4px;
    background: var(--White);
    height: 100%;
}

.box_content span.count,
.box_content .icons {
    margin-bottom: 20px;
    width: fit-content;
}

.box_content span.count {
    margin-bottom: 20px;
}

section .header {
    margin-bottom: 60px;

    @media (width < 991px) {
        margin-bottom: 30px;
    }
}

section .mb-20 {
    margin-bottom: 20px !important;
}

section .mb-10 {
    margin-bottom: 10px !important;
}

section .mb-30 {
    margin-bottom: 30px !important;
}

section .mb-60 {
    margin-bottom: 60px !important;
}

h1 {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

h2 {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    /* 140.625% */
    margin-bottom: 20px;
}

h3 {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-block-end: 20px;
}

h4 {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 20px;
}

h4.blue_text {
    color: var(--Blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p,
li {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

li {
    margin-bottom: 10px;
}

li:last-of-type {
    margin-bottom: 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

button {
    border: none;
}

span.orange_text {
    color: var(--Orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
    display: block;
}

span.blue_text {
    color: var(--Blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 156.25% */
    display: block;
    margin-bottom: 20px;
}

section .content_bg {
    border-radius: 8px;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    background-color: transparent !important;
    color: inherit !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s, color 0s ease-in-out 0s;
}

section .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='11' viewBox='0 0 19 11' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0623 0.707191L18.0625 8.70735L16.0628 10.707L9.0625 3.70672L2.06219 10.707L0.0625 8.70735L8.06266 0.707191C8.32786 0.442068 8.6875 0.29313 9.0625 0.29313C9.4375 0.29313 9.79714 0.442068 10.0623 0.707191Z' fill='%231B4298'/%3e%3c/svg%3e");
    transform: rotate(0deg);
    height: 11px;
}

section .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='11' viewBox='0 0 19 11' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0623 0.707191L18.0625 8.70735L16.0628 10.707L9.0625 3.70672L2.06219 10.707L0.0625 8.70735L8.06266 0.707191C8.32786 0.442068 8.6875 0.29313 9.0625 0.29313C9.4375 0.29313 9.79714 0.442068 10.0623 0.707191Z' fill='%231B4298'/%3e%3c/svg%3e");
    transform: rotate(180deg);
    height: 11px;
}

section .accordion-item.open {
    height: 100%;
}

section .accordion-button:focus {
    box-shadow: none;
}

section .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: unset;
}

span.text-white {
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    margin-bottom: 20px;
    display: block;
}

.wpcf7 form .wpcf7-response-output {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0 0 !important;
}

form .wpcf7-not-valid-tip {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    /* display: none; */
}

form .wpcf7-not-valid{
    border: 1px solid red !important;
}

form:not(.submitting) span.wpcf7-spinner {
    display: none;
    width: 20px !important;
    height: 20px !important;
}

form.wpcf7-form.init>p {
    margin-bottom: 0;
}

form.submitting span.wpcf7-spinner {
    display: block;
}

input[type="file" i]::-webkit-file-upload-button {
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #E4E4E4;
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 10px;
}

.wpcf7 input[type="file"] {
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}


section input:not(input[type="radio"]):not(input[type="checkbox"]):not(input[type="submit"]),
section textarea {
    border-radius: 1px;
    border: 1px solid var(--LightGray);
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    padding: 10px 15px;
}

section .select2-container .select2-selection--single {
    border-radius: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    border: none;
}

section .select2-container {
    width: 100% !important;
    display: block !important;
}

section .paging {
    gap: 0 17px;
    margin-top: calc(60px - 24px);
}

section .paging span.page-numbers.current {
    color: var(--Blue);
}

section .paging * {
    color: var(--Black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

section .paging svg {
    padding: 10px 8px;
    width: 26px;
    height: 37px;
}

.wpcf7-list-item label {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

form {
    margin-bottom: 0;
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

@media (max-width: 1199px) {
    section {
        padding: 70px 30px;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }


    section.thank_you,
    section.page_not_found {
        max-height: 600px !important;

    }

    section .mb-60 {
        margin-bottom: 50px;
    }

}

@media (max-width: 767px) {

    section.thank_you,
    section.page_not_found {
        max-height: 500px !important;

    }

    section.contact_us form span.wpcf7-form-control-wrap {
        width: 100% !important;
        max-width: 100% !important;
    }

    section.contact_us form p {
        flex-wrap: wrap;
        gap: 15px !important;
        justify-content: center;
    }

    section {
        padding: 50px 20px;
    }

    section .mb-60 {
        margin-bottom: 50px;
    }

}